_book/*
node_modules/*

.python-version

*.~

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules

# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf
_src/om2py0w/0wex1/1day.txt

_src/om2py0w/0wex1/d.txt

_src/om2py0w/0wex1/diary.txt

_src/om2py0w/0wex1/try_main.py

_src/om2py0w/0wex2/d1.txt

_src/om2py0w/0wex2/d2.txt

_src/om2py0w/0wex2/d3.txt

_src/om2py0w/0wex2/mydiary.log

_src/om2py0w/0wex2/mydiary.log

_src/om2py0w/0wex2/mydiary.log

_src/om2py0w/0wex2/te.py

_src/om2py0w/0wex2/mydiary.log

_src/om2py0w/0wex2/te_message.py

_src/om2py3w/3wex0/client.py

_src/om2py3w/3wex0/c3.py

_src/om2py3w/3wex0/s2.py

_src/om2py3w/3wex0/s1.py

_src/om2py3w/3wex0/c2.py

_src/om2py3w/3wex0/c1.py

_src/om2py3w/3wex0/s3.py

_src/om2py0w/0wex2/mydiary.log

_src/om2py3w/3wex0/server.py

_src/om2py0w/0wex2/mydiary.log
